/* CSS RESET */
* {
    margin: 0;
    box-sizing: border-box;
}

/* PALETTE COLORI  */
:root {
    --custom-organge: #ff6900;
    --custom-black: #1a1a1a;
}

/* UTILS */
.container {
    max-width: 1340px;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 70px;
    background-color: var(--custom-organge);

    display: flex;
    justify-content: space-between;
}

.customer-type {
    border: 2px dashed #1a1a1a;
    height: 70px;
    width: 120px;
}

.logo {
    border: 2px dashed #1a1a1a;
    height: 70px;
    width: 120px;
}

.header-icon {
    border: 2px dashed #1a1a1a;
    height: 70px;
    width: 120px;
}

/* MAIN */
.row {
    border: 2px dashed #1a1a1a;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.colomn {
    background-color: coral;
    border: 2px dashed #1a1a1a;
    height: 650px;
    width: 400px;
}

